body {
    font-family: Arial, sans-serif;
}



h1 {
    color: #333;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.title-break{
    width: 350px;
    word-wrap: break-word; /* Allow long words to be broken and wrapped to the next line */
    overflow-wrap: break-word; /* Ensure that the content wraps to fit the container */
    white-space: normal; /* Allow text to wrap onto the next line */
}

body {
    min-width: 700px;
}

.cursor-pointer {
    cursor: pointer;
}

#loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

#tabs-container {
    position: relative; /* Position relative for the spinner */
    min-width: 700px; /* Set a minimum height for the table */
    width: 700px;
}

.empty-row {
    min-width: 690px; /* Set a minimum height for the table */
}

.element-align-right {
    text-align: right;
}

.element-align-left {
    text-align: left;
}


.tags-container .badge,
.notes-container .badge
{
    margin-right: 4px;
    margin-bottom: 4px;
}

.tags-container .d-flex {
    flex-wrap: wrap;
    align-content: center;
    text-align: right;
}

.list-group {
    padding: 0;
    margin: 0;
}


.choices__list--multiple .choices__item{
    background-color: var(--vz-secondary);
    border-color: var(--vz-secondary);
}



